header {
    background: tomato;
    margin: 10px;
    padding: 20px;
}
header nav {

}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
    margin: 10px;
}
main {
    display: flex;
}
section {
    width: 70%;
    background: tomato;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /* paddingd이 들어갔을 때 넓이를 포함시키지 않기위해 */
}
section h1 {

}
article { /* article 태그는 독립성이기 때문에 따로 작성한다.*/
    background: yellowgreen;
    margin-bottom: 10px;
    padding: 10px;
}
article h2 {

}
article p {

}
aside {
    width: 30%;
    background: tomato;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}
footer {
    background: tomato;
    margin: 10px;
    padding: 20px;
}
footer address {

}
footer address a {
    display: block;
   
}