body {
    margin: 0;
    padding: 0;
}
.header {
    background: white;
    border-bottom: 1px solid lightgray;
}
.container {
    width: 980px;
    margin: auto; /* 수평정렬 */
}
.container-left {
    padding: 20px 0;
}
.logo {
    float: left;
    margin-right: 5px;
}
.logo img {
    display: block; /* img 태그를 사용했을 때 발생하는 밑에 공간을 없앤다?*/
}
.menu {
    float: left;
    
}
.menu-item {
    float: left; /* 사용하면 요소가 뜬다. 수평으로 만듦*/
    padding: 8px 10px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}