.wrap {
    height: 100%;
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 55px;
    background: #fff; /* 추가 */
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
}
.header .inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
.header .inner .logo {
   display: flex;
}
.header .inner .logo span {
    display: inline-block;
    text-indent: -9999px;
}
.header .inner .logo a {
    display: block;
}
.header .inner .logo a img {
   width: 100px;
}
.header .inner .input_box {
    width: 200px;
    height: 30px;
}
.header .inner .input_box input {
    height: 100%;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
    background: #f1f3f5;
    border: 1px solid #ced4da;
    font-size: 16px;
    outline: none;
}
.header .inner .input_box input#search{
    background: url("../imges//search-icon-clipart-transparent-5\ \(1\).png") no-repeat;
    background-position: 65px;
    background-size: 14px;
}
.header .inner .input_box input#search:focus{
    background-position: 10px;
}
.header .inner .input_box input::placeholder {
    text-align: center;
    font-size: 15px;
}
.header .inner .input_box input:focus::-webkit-input-placeholder { 
    color: transparent; 
}
.header .inner .nav {

}
.header .inner .nav .link_list {
    display: flex;
}
.header .inner .nav .link_list li {
    margin-left: 20px;
}
.header .inner .nav .link_list li:first-child {
    margin-left: 0;
}
.header .inner .nav .link_list li a {
    display: block;
}

.header .inner .nav .link_list li a i {
    color: #000;
    font-size: 20px;
}
/* //header */

/* main */
.main {
    position: relative;
    top: 55px;
    background: #f8f9fa;
}
.main .container {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 30px;
}

/* profile */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.profile .profile_img {
    margin: 0 70px;
}
.profile .profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile .info {
   width: 100%;
   margin: 0 30px;
}
.profile .info .area_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1.7;
}
.profile .info .area_text .user_id {
    font-size: 30px;
    margin-right: 20px;
}
.profile .info .area_text .profile_edit {
    margin-right: 20px;
    padding: 7px 10px;
    border: 1px solid  #dbdbdb;
    border-radius: 5px;
    color: #000;;
    font-size: 15px;
}
.profile .info .area_text .setting_btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;;
}
.profile .info .area_text .setting_btn i {
    font-size: 25px;
}
.profile .info .area_text .tit_desc {
    margin-right: 20px;
}
.profile .info .area_text .tit_desc .title {
    padding-right: 5px;
}
.profile .info .area_text .tit_desc .sub_title {
    font-weight: bold;
}
.profile .info .area_text.profile_info {
    display: block;
}
.profile .info .area_text.profile_info .info_title {
    font-weight: bold;
}
.profile .info .area_text.profile_info .info_sub {

}
/* // profile */

/* contents */
.contents {
    border-top: 1px solid #dbdbdb;
}
.contents .tab_box {
    
}
.contents .tab_box .tab_list {
    display: flex;
    justify-content: center;
}
.contents .tab_box .tab_list li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px;
    font-size: 15px;
    line-height: 1.4;
}
.contents .tab_box .tab_list li.active::after {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    border-top: 1px solid #000;
    width: 100%;
    height: 100%;
}
.contents .tab_box .tab_list li a {
    display: block;
    padding: 20px 0;
    cursor: pointer;
    color: #868e96;
}
.contents .tab_box .tab_list li.active a {
    display: block;
    color: #000;
}
.contents .tab_box .tab_list li i {
    padding-right: 5px;
}

.contents .boards {
    margin-top: 20px;
}
.contents .boards .board_list {
    display: flex;
    flex-wrap: wrap;
}
.contents .boards .board_list li {
    width: 293px;
    height: 293px;
    margin: 0 26px 20px;
}
.contents .boards .board_list li a {
    display: block;
    height: 100%;
    width: 100%;
}
.contents .boards .board_list li a .board_img {
    position: relative;
    width: 100%;
    height: 100%;
}
.contents .boards .board_list li a .board_img img {
    width: 100%;
    height: 100%;
}
/* //contents */

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.footer span {
    font-size: 18px;
    line-height: 1.4;
}
/* // footer */

/* //main */